body {
	background-color: #007f00;
	font-size: 16px;
	min-width: 300px;
	font-family: sans-serif;
	color: white;
}
.topRow {
	margin: 15px 0px 120px 0px;
}
.card {
	margin: 2px 2px -105px 2px;
	position: relative;
}
.table {
	width: 662px;
	margin: auto;
}

.topbar {
	background-color: #333;
	overflow: hidden;
	margin: -8px;
}
.topbar a {
	border-radius: 8px;
	float: left;
	color: #f0f0f0;
	text-align: center;
	padding: 12px 15px;
	text-decoration: none;
}
.topbar a:hover {
	background-color: #f0f0f0;
	color: black;
}
.topbar a.active {
	background-color: #14aa40;
	color: white;
}
.topbar a.active:hover {
	background-color: #40e6e6;
	color: black;
}
.topbar a.score {
	background-color: #808080;
	color: white;
}

.win {
	width: 300px;
	height: 300px;
	border-radius: 18px;
	background-color: #808080f0;
	color: white;
	text-align: center;
	pointer-events: auto;
	position: fixed;
	display: initial;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.win.inactive {
	display: none;
	pointer-events: none;
}
.win a.score {
	font-size: 20px;
}
.buttons {
	position: fixed;
	left: 50%;
	bottom: 20%;
	transform: translate(-50%, 0%);
}
button {
	height: 25px;
	width: 125px;
}
button.replay {
	transform: translate(0%, 60%);
}